@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

*:focus {outline:0;}

body {
  margin: 0;
}


.App {
  display: flex;
  height: 100vh;
  background-image: url("./images/background4.gif")
}

.Homepage {
  background-image: url("./images/background4.gif");
  background-color: #cccccc;
  height: 800px;

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Homepage-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: verdana;
}

.Sidebar {
  border: 4px solid red;
  flex-grow: 2
}

.Main {
  flex-grow: 2;
  border: 2px solid red;
  width: 100%;
  padding: 10px;
}

.ComponentItem {
  border: 4px solid green;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

{/*ORGANIC CSS*/}

.Calendar {
  position: absolute;
  bottom: 8px;
  right: 16px;
  padding: 10px
}


.DisplayElementsContainer {
  position: absolute;
  top: 20%;
  right: 20px;
  left: 20px;
  padding: 10px;
  background-color: #0ff2d3;
}

.DisplayElementsContainer h1 {
  text-align: center;
}


.Buttons {
  position: absolute;
  left: 40%;
  top: 10%;
}

.completedtask {
  text-decoration: line-through;
  color: red;
}

/*TASKS*/
.TasksContainer {
  display: block;
  width: 400px;
  margin: 100px auto 0;
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}

.TasksUl {
  margin: 0;
  padding: 0;
}

.TasksLi {
  float: left;
}

.Tasks, h3 {

}

.TasksLi, h3 {
  clear:both;
  list-style:none;
}

.completedtask {
  text-decoration: line-through;
  color: red;
}

.TaskInput {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.WeatherContainer {
  display: block;

}


/*TASKS*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
